@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* *,
  *::before,
  *::after {
    outline: 1px dashed magenta;
  } */

  html {
    scroll-behavior: smooth;
  }

  *:focus-visible {
    @apply outline-yellow-400 outline rounded-md outline-offset-1;
  }
}

@layer utilities {
  .trapezoid {
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  }
}
